<%- include('partials/head') %>
<%- include('partials/styles') %>

<body>
    <div class="container">
        <%- include('partials/hero') %>
        <%- include('partials/projects') %>
        <%- include('partials/skills') %>
        <%- include('partials/experience') %>
        <%- include('partials/education') %>
        <%- include('partials/footer') %>
    </div>

    <%- include('partials/scripts') %>
</body>
</html>