<%- include('partials/head') %>

<main class="portfolio-main-stream">
    <%- include('partials/hero') %>
    <%- include('partials/projects') %>
    <%- include('partials/skills') %>
    <%- include('partials/experience') %>
    <%- include('partials/education') %>
    <%- include('partials/footer') %>
</main>

<%- include('partials/scripts') %>
</body>
</html>